extends layout
block content
    b Pronto-Socorro
    h1#pronto-socorro 0

    b Pediatria
    h1#pediatria 0

    b Ginecologista
    h1#ginecologista 0

    b Radialista
    h1#radiologista 0

    script(src='/javascripts/panel.js')